ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
  background-color: #ffffff;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  font-size: 28px;
  color: grey;
  margin-top: 50px;
  margin-bottom: 50px;
}

.statsList {
  display: flex;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-basis: calc(100% / 5);

  color: #ffffff;
}

.item:nth-child(1) {
  background-color: skyblue;
}

.item:nth-child(2) {
  background-color: purple;
}

.item:nth-child(3) {
  background-color: red;
}

.item:nth-child(4) {
  background-color: green;
}

.item:nth-child(5) {
  background-color: tomato;
}

.percentage {
  font-size: 26px;
  margin-top: 10px;
}
