.transactionHistory {
  width: 600px;
  margin: 100px auto;
  padding-bottom: 100px;
}

.tsbleHead {
  background-color: rgb(79, 176, 214);
  color: #ffffff;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100% / 3);
  text-transform: uppercase;
}

.row {
  height: 40px;
  color: grey;
}

.row:nth-child(n + 1) {
  background-color: #ffffff;
}

.row:nth-child(2n + 1) {
  background-color: #f2f2f2;
}

.col {
  text-align: center;
}
