.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 2px 2px 2px grey;
  width: 240px;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 10px 30px 10px 20px;
  border-radius: 5px;
}

.avatar {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 10px;
}

.statusGreen,
.statusRed {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.statusGreen {
  background-color: green;
}

.statusRed {
  background-color: red;
}

.name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}
